@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Opens+Sans:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  padding: 0 3rem;
} */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3
 {
  font-family: "Lora", sans-serif;
}
p,
li,
button,
a {
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 4rem;
  background-color: white;
  z-index: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* border-bottom: 0.5px solid gray; */
  box-shadow: 1px 1px 11px rgba(99, 95, 95, 0.11);
}
.nav-links {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
.nav-links a {
  color: black;
}
.nav-links a:hover {
  color: #3fa34d;
  /* font-weight:600; */
}
.nav-links a.active {
  color: #3fa34d;
  /* font-weight:600; */
}
button {
  font-weight: normal;
  transition: font-weight 0.2s ease;
}
.nav-btn,
.promo-btn {
  width: 12%;
  /* background-color: #32aa27; */
  background-color: #3fa34d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.75rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2a9134;
  font-weight: 500;
}
.main-cont {
  margin-top: 5rem;
  /* padding: 0 1rem; */
}
.hero,
.about,
.values,
.footer {
  padding: 3.5rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
}
.values {
  background-color: #f7fdf8;
  /* background-color: #d2efd5; */
}
.hero-header {
  font-size: 1.8rem;
  font-family: "Lora", serif;
}
.value-header {
  font-size: 2.5rem;
}
.hero-highlight {
  /* color: #89cc5f; */
  color: #3fa34d;
}
.hero-btn {
  /* background-color: #32aa27; */
  /* background-color: #109869; */
  background-color: #3fa34d;
  /* background-color: #054a29; */
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.86rem;
  text-align:center;
  align-self: flex-start;
}
.hero-btn i{
  font-size:0.8rem;
  padding:0.4rem 0.2rem 0;
}
.small-about {
  font-size: 1.3rem;
  color: #3fa34d;
  padding: 0.3rem 0;
  font-weight: 600;
}
.about-link {
  z-index: -1px;
  position: relative;
  color: #3fa34d;
  font-size: 0.92rem;
  align-self: flex-start;
}
.about-link:hover {
  font-weight: 500;
  color: #2a9134;
}
.about-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
  background-color: #2a9134;
}
.about-link:hover::before {
  width: 100%;
  left: 0;
}
.about-text,
.hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.hero-img,
.about-img {
  width: 55%;
}
.hero-img img,
.about-img img {
  width: 100%;
  /* height:300px; */
}

.values-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.values-grid {
  width: 55%;
}
.values-list li > h3 {
  padding: 0.3rem 0;
}
.values-list li {
  line-height: 1.3rem;
  height: 100%;
  width: 95%;
  background-color: #fff;
  border: none;
  border-radius: 10px 30px 10px 30px;
  padding: 1rem;
  font-size: 0.8rem;
  box-shadow: 1px 1px 11px rgba(238, 238, 238, 0.534);
}
.value-icon {
  margin: 2px 0;
  background-color: #d2efd5;
  align-self: flex-start;
  padding: 5.5px 8px;
  display: inline-block;
  border: none;
  border-radius: 50%;
  width: 34px;
  /* height: 35px; */
  text-align: center;
}
.value-icon i {
  color: #207428;
  text-align: center;
}
.testimonial,
.blog-sect {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.quote {
  color: #3fa34d;
  font-size: 3rem;
  font-family: "Lora", sans-serif;
  align-self: flex-end;
  padding: 1rem 0;
}
.clients,
.blogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
.client {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  align-items: center;
  /* gap: 0.5rem; */
  /* height: 10rem; */
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.9rem;
  color: rgb(77, 76, 76);
  box-shadow: 1px 1px 11px rgba(238, 238, 238, 0.884);
}
.client p {
  line-height: 1.3rem;
}
.client-role {
  font-size: 0.8rem;
  color: gray;
}
.client-id {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* align-items: center; */
  align-self: flex-start;
  padding: 0.8rem 0;
}
.client-header,
.blog-header {
  padding: 1rem 0;
}
.client-img {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 100%;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  /* width: 100%; */
  height:100%;
  background-color: #fff;
  padding: 0;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  color: rgb(77, 76, 76);
  box-shadow: 1px 1px 11px rgba(238, 238, 238, 0.884);
}
.blog:hover{
  transform:scale(1);
}
.blogs {
  padding: 2rem 0;
}
.blog-img {
  width: 100%;
  /* height:100px; */
}
.blog-deets {
  padding: 1rem;
}
.blog-deets h4 {
  font-weight: 600;
}
.blog-deets p {
  font-size: 0.79rem;
}
.promo {
  background-color: #3fa34d;
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-align: center;
  color: #fff;
}
.promo-header,
.client-header,
.blog-header {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.promo-header h2,
.client-header h2,
.blog-header h2 {
  font-size: 2.5rem;
}
.promo-header h2 {
  font-size: 2rem;
}
.promo .promo-btn {
  color: #3fa34d;
  background-color: white;
  width: 12%;
  font-weight: 600;
}
/* .values */
.footer {
  color: white;
  /* background-color: #03301a; */
  background-color: #1d1d1d;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.footer-sect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  font-size: 0.9rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 1rem; */
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(219, 218, 218);
}
